### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [33]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [34]:
file_to_load = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

In [35]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [36]:
Number_players = len(purchase_data["SN"].unique()) 
Total_players_table = pd.DataFrame({"Total Unique Players": [Number_players]})
Total_players_table.head()

   Total Unique Players
0                   576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
Unique_items =len(purchase_data["Item Name"].unique())
#purchase_data["Price"] = purchase_data["Price"].map("${:,.2f}".format) could not get to work for currency(same for revnue)
Average_price = purchase_data["Price"].mean()
Number_purchases =len(purchase_data["Item Name"])
Total_Revenue = purchase_data["Price"].sum() 

Purchase_summary_table = pd.DataFrame({"Number Unique Items": [Unique_items],
                                       "Average Price": [Average_price],
                                       "Number of Purchases": [Number_purchases],
                                       "Total Revenue": [Total_Revenue]})
Purchase_summary_table.head()

   Number Unique Items  Average Price  Number of Purchases  Total Revenue
0                  179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
#Gender_Filter = purchase_data.groupby(["Gender"]) 

#Gender_Filter["Purchase ID"].count()
#unsure of the proper code that belongs display information


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [38]:
Gender_Filter = purchase_data.groupby(["Gender"])  
Gender_Filter.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [39]:
Gender_Filter = purchase_data.groupby(["Gender"]) 
Purchase_Counts = Gender_Filter["Purchase ID"].count()
Average_Gender_Price = Gender_Filter["Price"].mean()
Purchase_Value = Gender_Filter["Price"].sum()

Gender_summary_table = pd.DataFrame({"Purchase Count": [Purchase_Counts],
                                       "Average Purchase Price": [Average_Gender_Price],
                                       "Total Purchase Value": [Purchase_Value]})
Gender_summary_table

,Purchase Count,Average Purchase Price,Total Purchase Value
0,Gender Female 113 Male ...,Gender Female 3.203009 Male ...,Gender Female 361.94 Male ...

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [47]:
bins = [0, 10, 15, 20, 25, 30, 35, 40]
group_labels = ["<10", "10-14", "15-19","20-24", "25-29", "30-34", "35-39"]

purchase_data["Total Count"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

#Age_df = purchase_data["Total Count"].value_counts() 
#Age_df
purchase_data["Total Count"].value_counts()

20-24    325
15-19    200
25-29     77
10-14     54
30-34     52
35-39     33
<10       32
Name: Total Count, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [32]:
bins = [0, 10, 15, 20, 25, 30, 35, 40]
group_labels = ["<10", "10-14", "15-19","20-24", "25-29", "30-34", "35-39"]

purchase_data["Purchase Count"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
Purchase_df = purchase_data["Purchase Count"].value_counts() 

Purchasecount = purchase_data["Purchase ID"].count()
Averagepurchase_Price = purchase_data["Price"].mean()
Total = purchase_data["Price"].sum()


Age_table = pd.DataFrame({"Purchase Count": [Purchase_df],
                                       "Average Purchase Price": [Averagepurchase_Price],
                                       "Total Purchase Value": [Total]}) 

Age_table

,Purchase Count,Average Purchase Price,Total Purchase Value
0,20-24 325 15-19 200 25-29 77 10-14 ...,3.050987,2379.77

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
SN_group = purchase_data.groupby(["SN"]) 
Purchase_sum = SN_group["Purchase ID"].count()
Average_purchase_Price = SN_group["Price"].mean()
Revenue_Value = SN_group["Price"].sum()


SN_summary_table = pd.DataFrame({"Purchase Count": [Purchase_sum],
                                       "Average Purchase Price": [Average_purchase_Price],
                                       "Total Purchase Value": [Revenue_Value]}) 
#SN_group.sort_values(by=["Total Purchase Value"])
SN_summary_table.head()

,Purchase Count,Average Purchase Price,Total Purchase Value
0,SN Adairialis76 1 Adastirin33 1 A...,SN Adairialis76 2.280000 Adastirin33 ...,SN Adairialis76 2.28 Adastirin33 ...

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [27]:
ID_df = purchase_data.loc[:, ["Item ID", "Item Name", "Price","Purchase ID"]]
ID_groupby = ID_df.groupby("Item ID") 
ID_sum = ID_groupby["Purchase ID"].count()
Item_Price = ID_groupby["Price"]
Revenue_Value = ID_groupby["Price"].sum()


ID_summary_table = pd.DataFrame({"Purchase Count": [ID_sum],
                                       "Item Price": [Item_Price],
                                       "Total Purchase Value": [Revenue_Value]})
ID_summary_table.head()

,Purchase Count,Item Price,Total Purchase Value
0,Item ID 0 4 1 3 2 6 3 ...,<pandas.core.groupby.groupby.SeriesGroupBy obj...,Item ID 0 5.12 1 9.78 2 14.88...

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [28]:
ID_summary_table.sort_values(by=["Total Purchase Value"])

,Purchase Count,Item Price,Total Purchase Value
0,Item ID 0 4 1 3 2 6 3 ...,<pandas.core.groupby.groupby.SeriesGroupBy obj...,Item ID 0 5.12 1 9.78 2 14.88...